In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2021-10-03 23:04:21,77.4840,-69.3632,28.09,96,100,6.40
1,1,Stephenville,US,2021-10-03 23:08:34,32.2207,-98.2023,82.53,45,40,6.91
2,2,Bilibino,RU,2021-10-03 23:08:34,68.0546,166.4372,19.18,93,91,2.66
3,3,Lebu,CL,2021-10-03 23:08:35,-37.6167,-73.6500,49.57,76,0,19.95
4,4,Kapaa,US,2021-10-03 23:04:21,22.0752,-159.3190,78.19,79,90,4.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
#for temp in max_temp:
   # temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.(adding cn=enter and zoom levels)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                 max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Stephenville,US,2021-10-03 23:08:34,32.2207,-98.2023,82.53,45,40,6.91
4,4,Kapaa,US,2021-10-03 23:04:21,22.0752,-159.3190,78.19,79,90,4.00
5,5,Buraydah,SA,2021-10-03 23:06:23,26.3260,43.9750,79.74,14,10,5.91
6,6,Avarua,CK,2021-10-03 23:05:01,-21.2078,-159.7750,77.05,69,75,10.36
9,9,Hithadhoo,MV,2021-10-03 23:08:36,-0.6000,73.0833,82.96,77,73,19.01
12,12,Monrovia,LR,2021-10-03 23:08:37,6.3005,-10.7969,78.24,87,84,4.14
14,14,Georgetown,MY,2021-10-03 23:03:39,5.4112,100.3354,79.90,90,20,0.00
15,15,Karimnagar,IN,2021-10-03 23:06:13,18.4333,79.1500,75.96,87,54,1.43
18,18,Mandera,KE,2021-10-03 23:08:39,3.9366,41.8670,79.75,61,12,16.28
19,19,Tabou,CI,2021-10-03 23:04:33,4.4230,-7.3528,77.83,89,68,6.38

In [22]:
# Checking to see if any null(can also check by 'isnull')
preferred_cities_df.notnull().sum()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [21]:
#another method
preferred_cities_df.count()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1   Stephenville      US     82.53  32.2207  -98.2023
4          Kapaa      US     78.19  22.0752 -159.3190
5       Buraydah      SA     79.74  26.3260   43.9750
6         Avarua      CK     77.05 -21.2078 -159.7750
9      Hithadhoo      MV     82.96  -0.6000   73.0833
12      Monrovia      LR     78.24   6.3005  -10.7969
14    Georgetown      MY     79.90   5.4112  100.3354
15    Karimnagar      IN     75.96  18.4333   79.1500
18       Mandera      KE     79.75   3.9366   41.8670
19         Tabou      CI     77.83   4.4230   -7.3528

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Stephenville,US,82.53,32.2207,-98.2023,La Quinta Inn & Suites by Wyndham Stephenville
4,Kapaa,US,78.19,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Buraydah,SA,79.74,26.3260,43.9750,فندق راحة السلام
6,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
9,Hithadhoo,MV,82.96,-0.6000,73.0833,Scoop Guest House
12,Monrovia,LR,78.24,6.3005,-10.7969,Sunset Inn
14,Georgetown,MY,79.90,5.4112,100.3354,Cititel Penang
15,Karimnagar,IN,75.96,18.4333,79.1500,Sravanthi palace
18,Mandera,KE,79.75,3.9366,41.8670,Kornesh Hotel and Lodging
19,Tabou,CI,77.83,4.4230,-7.3528,hotêl doufoulougou

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [34]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))